@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  max-width: 90vw;
  align-items: center;
  justify-content: center;
  background-color: #F9FAFB;
}

.title {
  padding-top: 2rem;
}

.add-task  button:hover{ 
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}

.App {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 2rem;
  width: 500px;
  border-radius: 0.5rem;
  border:1px ;
  background-color: #93C5FD;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main{
  display: flex;
  align-items: left;
  max-width: 500px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #EFF6FF;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.todo-inprogress{
  margin-bottom: 2rem;
}

.blank{
  height: 0.5rem;
}

.credits {
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}



